* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body);
  font-family: var(--tipo-fuente);
  font-size: 16px;
}

header nav img {
  width: 50px;
}
header nav a {
  margin: 10px;
}
header nav a:hover {
  color: blue !important;
  padding: 10px;
  font-size: bold;
}

main .container-inicio-2 {
  background-color: grey;
}
main .container-inicio-2 .inicio-2 {
  margin: 20px;
}
main .container-inicio-2 .inicio-2 h2 {
  color: white;
  text-align: center;
  font-family: var(--tipo-fuente);
  font-size: 2rem;
}
main .container-inicio-2 .inicio-2 h3 {
  color: white;
  font-size: 1.5rem;
  font-family: var(--tipo-fuente);
}
main .container-btn-ini {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-btn-ini .btn-prueba {
  color: white;
  display: flex;
  background-color: var(--color-boton);
  padding: 15px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
main .container-btn-ini a:hover {
  background-color: var(--color-boton-h);
}
main .inicio {
  padding: 60px;
  text-align: center;
}
main .inicio img {
  height: 400px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
main .inicio h1 {
  justify-content: center;
  padding: 30px;
}

main .contacto {
  align-items: center;
  color: black;
  text-align: center;
  width: 80%;
  margin: 20px 30px 20px 80px;
}
main .contacto h1 {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: var(--tipo-fuente);
}
main .contacto p {
  font-family: var(--tipo-fuente);
}
main .contacto-form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: black;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  margin: 30px;
  padding: 20px 50px;
}
main .contacto-form .form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
main .contacto-form .form-row label {
  margin-bottom: 10px;
}
main .contacto-form .form-row input[type=text],
main .contacto-form .form-row input[type=email] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
main .contacto-form .form-row textarea {
  font-family: var(--tipo-fuente);
  font-size: 14px;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}
main .contacto-form .form-row button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
main .contacto-form .form-row button:hover {
  background-color: black;
}
main .contacto-form .form-row button:active {
  background-color: gray;
}

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  background-color: var(--color-footer);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  margin-top: 20px;
}
footer .datos-contac ul {
  list-style-type: none;
}
footer img {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
}
@media screen and (max-width: 574px) {
  footer {
    display: block;
    margin: 20px;
  }
}
@media screen and (max-width: 711px) {
  .inicio-2 {
    flex-wrap: wrap;
  }
}
.titulo-servicio h1, .titulo-galeria h1 {
  text-align: center;
  margin-top: 30px;
}

.container-cartas {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container-cartas .cartas {
  padding: 20px;
  margin: 30px;
  width: 300px;
  height: 700px;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 16px 24px 41px 33px rgba(0, 0, 0, 0.5);
}
.container-cartas .cartas p {
  margin: 10px;
}
.container-cartas .cartas ul {
  margin: 10px;
  margin-left: 30px;
}
.container-cartas .cartas li {
  padding: 2px;
}

.container-servicios {
  margin: 40px;
}
.container-servicios .cartas-1 {
  padding: 20px;
  margin: 30px;
  margin-bottom: 20px;
}
.container-servicios .cartas-1 h2 {
  font-family: var(--tipo-fuente);
  font-size: 1.5rem;
  text-align: center;
}
.container-servicios .container-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-servicios .container-botones .btn-servi {
  color: white;
  display: flex;
  background-color: var(--color-boton);
  padding: 15px;
  text-decoration: none;
  font-family: cursive;
  font-size: 1.5rem;
}
.container-servicios .container-botones a:hover {
  background-color: var(--color-boton-h);
}

.container-gale {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}
.container-gale .carousel {
  margin: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.galeria-2 {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 100px;
}
.galeria-2 div {
  text-align: center;
}
.galeria-2 div h3 {
  margin-top: 50px;
  font-family: var(--tipo-fuente);
  font-size: 2rem;
}
.galeria-2 div h4 {
  font-family: var(--tipo-fuente);
  font-size: 1.5rem;
}
.galeria-2 div ul {
  text-align: center;
  justify-content: center;
  margin-left: 10px li;
  margin-left-padding: 5px;
}

body .container-historia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
body .container-historia .content-historia {
  max-width: 800px;
  padding: 20px;
}
body .container-historia .content-historia h1 {
  text-align: center;
  margin-bottom: 20px;
}
body .container-historia .content-historia p {
  margin-bottom: 15px;
}
@keyframes aparacer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
body .container-historia-2, body main .container-inicio-2, main body .container-inicio-2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  border-style: inset;
}
body .container-historia-2 .content-2, body main .container-inicio-2 .content-2, main body .container-inicio-2 .content-2, main .container-inicio-2 body .container-historia-2 .inicio-2, body main .container-inicio-2 .inicio-2, main body .container-inicio-2 .inicio-2 {
  width: 400px;
}
body .container-historia-2 .content-2 p, body main .container-inicio-2 .content-2 p, main body .container-inicio-2 .content-2 p, main .container-inicio-2 body .container-historia-2 .inicio-2 p, body main .container-inicio-2 .inicio-2 p, main body .container-inicio-2 .inicio-2 p {
  margin: 20px;
}
body .container-historia-2 .content-3, body main .container-inicio-2 .content-3, main body .container-inicio-2 .content-3, main .container-inicio-2 body .container-historia-2 .estilos-img-inicio, body main .container-inicio-2 .estilos-img-inicio, main body .container-inicio-2 .estilos-img-inicio {
  width: 350px;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
@media (prefers-reduced-motion: no-preference) {
  body .container-historia-2 .content-3, body main .container-inicio-2 .content-3, main body .container-inicio-2 .content-3, main .container-inicio-2 body .container-historia-2 .estilos-img-inicio, body main .container-inicio-2 .estilos-img-inicio, main body .container-inicio-2 .estilos-img-inicio {
    animation: aparecer 2s forwards;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
body .container-historia-2 .content-3 img, body main .container-inicio-2 .content-3 img, main body .container-inicio-2 .content-3 img, main .container-inicio-2 body .container-historia-2 .estilos-img-inicio img, body main .container-inicio-2 .estilos-img-inicio img, main body .container-inicio-2 .estilos-img-inicio img {
  width: 85%;
}

:root {
  --color-footer: #4a4e69;
  --color-body: #f5ebe0;
  --tipo-fuente: ""Times New Roman", Times, serif";
  --color-boton: #FA8072;
  --color-boton-h: #FF6347;
}

.container-inicio-2 .inicio-2 p {
  font-family: times;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.container-inicio .inicio p {
  font-family: times;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
