@media only screen and (max-width: 600px){
    header nav{
        display: none;
    }
}

@media screen and  (max-width: 574px){
    footer {
        display: block;
        margin: 20px;
    }
}

@media screen and (max-width: 711px){
    .inicio-2{
        flex-wrap: wrap;
    }
}