main {
    .contacto{
        align-items: center;
        color: black;
        text-align: center;
        

        width: 80%;
        margin: 20px 30px 20px 80px;
        

        h1{
            color: black;
            font-size: 30px;
            margin-bottom: 20px;
            font-family: var(--tipo-fuente);
            
        }
        p{
            font-family: var(--tipo-fuente);
        }

    }
    .contacto-form{
        box-shadow:  0 0 20px rgb(0, 0, 0, 0.9);
        color: black;
        background-color: #F6F7F8;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        margin: 30px;
        padding: 20px 50px;

        .form-row{
        
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;

            label {
                margin-bottom: 10px;
            }

            input[type="text"],
            input[type="email"]
            {
                background-color: #FFFFFF;
                border: 1px solid #D6D9DC;
                border-radius: 3px;
                width: 100%;
                padding: 7px;
                font-size: 14px;
            }

            textarea {
                font-family: var(--tipo-fuente);
                font-size: 14px;
             
                border: 1px solid #D6D9DC;
                border-radius: 3px;
             
                min-height: 200px;
                margin-bottom: 10px;
                padding: 7px;
                resize: none;
             }

             button{
                font-size: 16px;
                font-weight: bold;
            
                color: white;
                background-color: black;
            
                border: none; 
                border-radius: 3px;
            
                padding: 10px 40px;
                cursor: pointer;

                &:hover{
                    background-color: black;
                }
                &:active{
                    background-color: gray;
                }
            
            }
        }

        
       
    }
}


