.titulo-galeria{
    @extend .titulo-servicio;
}

.container-gale{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    

    .carousel{
        margin: 50px;
        box-shadow:  0 0 30px rgb(0, 0, 0, 0.9);
    }
}


.galeria-2{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 100px;
    
    div{
        text-align: center;
        

        h3{
            margin-top: 50px;
            font-family:  var(--tipo-fuente);
            font-size: 2rem;
        }

        h4{
            font-family: var(--tipo-fuente);
            font-size: 1.5rem;

        }

        ul{
            text-align: center;
            justify-content: center;
            margin-left: 10px


            li{
                padding: 5px;
            }
        }


    }
}