
header{
    nav{
        img{
            width: 50px;
        }
        a{
            margin: 10px;
            &:hover{
                color: blue !important;
                padding: 10px;
                font-size: bold;
            }

        }
    }

}