body{
.container-historia {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    margin-bottom: 250px;
    margin-left: 30px;
    margin-right: 30px;
    
    

    .content-historia{
        max-width: 800px; 
        padding: 20px;
        margin: 50px;
        
        
      

      h1 {
        text-align: center;
        margin-bottom: 20px; 
      }
      p {
        margin-bottom: 15px; 
      }
    }
  }
  
}
  
 
  
 