main{

    .container-inicio-2{
        @extend .container-historia-2;
        background-color: grey;


        .inicio-2{
            @extend .content-2;
            margin: 20px;
           
            h2{
                color: white;
                text-align: center;
                font-family: var(--tipo-fuente);
                font-size: 2rem;
            }

            h3{
                color: white;
                font-size: 1.5rem;
                font-family: var(--tipo-fuente);
            }

           
        }

        .estilos-img-inicio{
            @extend .content-3;
        }

        
        
    }
    .container-btn-ini{

        

        display: flex;
        justify-content: center;
        align-items: center;
    
         .btn-prueba{
            
            color: white;
            display: flex;
            background-color: var(--color-boton);
            padding: 15px;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
         }
         a:hover{
            background-color: var(--color-boton-h);
         }
    }   


    .inicio{
        padding: 60px;
        text-align: center;
        
        img{
            height: 400px;
            box-shadow:  0 0 30px rgb(0, 0, 0, 0.9);
        }
        h1{
            justify-content: center;
            padding: 30px;
        }
       
        
    }

}



  
  
  
 

