main{

    .inicio{
        padding: 60px;
        text-align: center;
        img{
            
            box-shadow:  0 0 30px rgb(0, 0, 0, 0.9);
        }
        h1{
            justify-content: center;
            padding: 30px;
        }
       
        
    }






    // section{
    //     #titulo-princial{
    //         font-family: cursive;
    //         text-align: center;
    //         font-size: 2rem;
    //         margin-top: 15px;
    //     }
        
    //     p{
    //         margin: 25px;
    //         text-align: center;
    //         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    //     }

    //     .container-boton{
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //          .boton-principal{
    //             @extend p;
    //             background-color: #4a4e69;
    //             padding: 20px;
    //             text-decoration: none;
    //             color: white;
    //             border-radius: 20px 10px 0px 10px;
    //         }

    //     }
    // }
}

