main{

    .inicio{
        padding: 60px;
        text-align: center;
        img{
            
            box-shadow:  0 0 30px rgb(0, 0, 0, 0.9);
        }
        h1{
            justify-content: center;
            padding: 30px;
        }
       
        
    }

    .inicio-2{
        align-items:center;
        justify-content: center;
        color: white;
        background-color: gray;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        margin: 20px;
        
        p{
            margin-left: 60px;
        }

        h2{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 2rem;
            padding-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div{
            margin: 20px;

            
            .btn-conocelos{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: auto;
                background-color: #FA8072;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                border: none; 
                cursor: pointer; 
                font-family: cursive;
                font-size: 25px;
                transition: background-color 0.3s;
                margin-left: 125px;
                            
               
                  a{
                        color:white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-items: center;
                        padding: auto;
                        text-decoration: none;
                    }
               
            }
            .btn-conocelos:hover{
                background-color: #FF6347;
            }

            p{
                font-size: 1rem;
            
            }
            img{
                width: 280px;
            }
        }
    }




}



  
  
  
 

