


div{
    h1{
        text-align: center;
        margin-top: 30px;
    }
}

.container-cards{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    
    .card{
        padding: 20px;
        margin: 30px;
        width: 300px;
        height: 550px;
        border: 1px solid white;
        border-radius: 15px;

        box-shadow: 16px 24px 41px 33px rgba(0,0,0,0.5);



        
        p{
             margin: 10px;
        }

        ul{
            margin: 10px;
            margin-left: 30px;
        }
        li{
            padding: 2px;
        }

    } 


}

.container-serv{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 10px;
    
    div{
        p{
            margin: 20px;
            font-size: 1.5rem;
        }
    }
}






.div-servicios{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 30px;
    h1{
        text-align: center;
    }
}



.contenedor-tarjetas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 25px;
    margin-bottom: 50px;
    height: 300px;
    border-radius: 30px;
    background: rgb(237,244,255);
    background: linear-gradient(90deg, rgba(237,244,255,1) 18%, rgba(0,137,255,1) 86%);
    display: flex;
    flex-wrap: wrap;


    .contenedor-uno{
        
        padding: 20px;
        max-width: 50%;

        h1{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            justify-content: center;
        }
        p{
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }


    .contenedor-dos{
        margin: 20px;
        background-color: gray;
        padding: 20px;
        border-radius: 15px;
        height: 240px;
        box-shadow: 16px 24px 41px 33px rgba(0,0,0,0.57);
        -webkit-box-shadow: 16px 24px 41px 33px rgba(0,0,0,0.57);
        -moz-box-shadow: 16px 24px 41px 33px rgba(0,0,0,0.57);

        //transformaciones

        transition: 1s;
        &:hover{
            transform: rotate(10deg) translate(-50px, 50px);
        }


        h2{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            margin: 10px;
        }
        ul{
            margin: 15px;
            li{
                color:white;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 0.9rem;
            }
        }
        
    }
}
